.app-sidenav-content {
    
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-image: url('src/assets/motioncar1.gif');
    background-repeat: no-repeat; */

}


  