.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 80%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
    background-image: url('src/assets/carbg.jpeg');
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('src/assets/carbg.jpeg');
} 
.nav-list-container {
    
    background-size: cover;
    background-position: center;
    /* Other styles */
  }
  .mat-list {
    background-image: url('src/assets/carbg.jpeg');

}
.custom-toolbar {
    background-color: #0a82d4; /* Replace with your desired dark sky blue color value */
    /* Other styles */
  }

  
  
  